<!doctype html>
<html ng-app='katNftApp'>
	<head> lang="en"
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>

<div class="header">
<img src="images/nft_logo_onblack.png" alt="LIFE IN CHARLESTON"><br>
  <ul class="nav nav-pills pull-right">
    <li class=""><a ng-href="#/main">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#/contact">Contact</a></li>
    <li ng-cloak ng-show-auth="login" ng-controller="LoginController"><a href="#/login" ng-click="logout()">Log Out</a></li>
    <li ng-cloak ng-show-auth="['logout','error']"><a href="#/login">Log In</a></li>
  </ul>
  <h3 class="text-muted">NFT - NOT FOR TOURISTS - CHARLESTON</h3>
</div>
<img src="images/modelwithbaggage.jpg" alt="LIFE IN CHARLESTON"><br>

	<h1>{{hello}}</h1>
	<input type="text" ng-model="hello"/>


</body>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular.min.js>"</script>
<div class="footer">
  <p><a href="http://kat5sc.com"><span class="glyphicon glyphicon-eye-open"></span> THEKACKIEPROJECT</a></p>
</div>
</html>