<!doctype html>
  <div class="header">
   <a href="http://www.notfortourists.com"><img src="/images/snobbw.jpg" alt="Not For Tourists" /></a>
    <span style="position: absolute; top:5px; right:15px;">
      <br>
  <ul class="nav nav-pills pull-right">
    <li class=""><a ng-href="#/index">HOME</a></li>
    <li><a ng-href="#/historicalsites">HISTORY</a></li>
    <!-- <li><a ng-href="#">BEACHES</a></li> -->
    <li><a ng-href="#/lowcountryislands">LOW COUNTRY ISLANDS</a></li>
    <li><a ng-href="#/wherelocalshang">FEELIN' LOCAL</a></li>
    <li><a ng-href="#/edisto">HEAVEN ON EARTH</a></li>
    <li><a ng-href="#/blog">LOCALS TALK</a></li>
  </ul>
  <h3 class="text-muted">lowcountry</h3>
</div>

<div class="jumbotron">
  <h1></h1>
  <p class="lead">
    <img src="images/iopbeach.jpg" alt="Charleston"><br>
    The Charleston Life
  </p>
  <p><a class="btn btn-lg btn-default" ng-href="#">Explore Charleston</a></p>
</div>





  <h3 class="text-muted">NFT - CHARLESTON</h3><a ng-href="#/main"></a>
</div>