<!DOCTYPE html>
<html ng-app="katNftApp">
<div class="header">
    <span style="position: absolute; top:5px; right:15px;">
      <br>
  <ul class="nav nav-pills pull-right">
    <li class=""><a ng-href="#/main">HOME</a></li>
    <li><a ng-href="#/historicalsites">HISTORY</a></li>
    <!-- <li><a ng-href="#/beaches">BEACHES</a></li> -->
    <li><a ng-href="#/lowcountryislands">LOW COUNTRY ISLANDS</a></li>
    <!-- <li><a ng-href="#/localshangout">FEELIN' LOCAL</a></li> -->
    <li><a ng-href="#/edisto">HEAVEN ON EARTH</a></li>
    <li><a ng-href="#">LOCALS TALK</a></li>
  </ul>
  <h3 class="text-muted">lowcountry</h3>
</div>
  <meta charset="UTF-8">

  <div class="container">

  <body ng-app="katNftApp">

    Name: <input type="text" ng model="name"/>
        {{name}}

  </div>



<script src="bower_components/angular/angular.min.js"></script>

</body>
</html>
<div class="footer">
  <p><a href="http://kat5sc.com"><span class="glyphicon glyphicon-eye-open"></span> THEKACKIEPROJECT</a></p>
</div>