<!doctype html>
<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class=""><a ng-href="#/main">Home</a></li>
    <li><a ng-href="#/about">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">Kackie Angular Project DAY THREE</h3>
</div>
<div class="jumbotron">
  <h1>Art of The Matter</h1>
  <p class="lead">
    <img src="images/oneredballonbythesea.jpg" alt="I'm The Grim Reaper"><br>
  </p>
  <p><a class="btn btn-default btn-lg active" ng-href="#/order-create">On To Shop<span class="glyphicon glyphicon-shopping-cart"></span></a></p>
</div>

<div class="row marketing">
<h4>GALLERY NAVIGATION</h4>
  <ul class="nav nav-pills pull-right">
    <li class=""><a ng-href="#/main">Home</a></li>
    <li><a ng-href="#/products">Art</a></li>
    <li><a ng-href="#/productsDetail">Art Description and Pricing</a></li>
    <li><a ng-href="#/orderCreate">Add to Cart</a></li>
    <li><a ng-href="#/customerReviews">Client Reviews</a></li>
    <li><a ng-href="#/orderSummary">My Order</a></li>
    <li><a ng-href="#/orderSummaryEdit">Edit My Order</a></li>
  </ul>
  <h4>ARTIST IN RESIDENCE</h4>
  <img src="images/lonelyqueen.jpg" alt="I'm The Grim Reaper"><br>
 
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, sint, esse, minima, at magnam aspernatur eveniet nihil vel molestias magni voluptas fugiat illo culpa sed impedit nulla tempora rem corporis.</p>

  <h4>Up And Coming</h4>
  <img src="images/fieryumbrellamodel.jpg" alt="I'm The Grim Reaper"><br>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, eos, pariatur aliquid consectetur quae ad iure facere dolorum minus quis quasi non labore ullam ipsa omnis doloremque consequatur vel eaque.
  </p>

  <h4>SHOW ME SOMETHING ABOUT!!</h4>
  <img src="images/aftershowernyc.jpg" alt="I'm The Grim Reaper"><br>
</div>

<div class="footer">
  <p><span class="glyphicon glyphicon-eye-open"></span> THEKACKIEPROJECT</p>
</div>
</html>