<!doctype html>
<div class="header">
   <a href="http://www.notfortourists.com"><img src="/images/nft_logo_onblack.png" alt="Not For Tourists" /></a>
    <span style="position: absolute; top:5px; right:9px;">
  <br>
    <ul class="nav nav-pills pull-right">
      <li class=""><a ng-href="#/main">HOME</a></li>
    <li><a ng-href="#/historicalsites">HISTORY</a></li>
    <li><a ng-href="#/beaches">BEACHES</a></li>
    <li><a ng-href="#/lowcountryislands">LOW COUNTRY ISLANDS</a></li>
    <li><a ng-href="#">FEELIN' LOCAL</a></li>
    <li><a ng-href="#/edisto">HEAVEN ON EARTH</a></li>
    </ul>
  <h3 class="text-muted">NFT - CHARLESTON</h3><a ng-href="#/main"></a>
</div>
<body>

  <h1>Where The Locals Hang</h1>
  
  <h1>Hey: {{test}}</h1>



</body>
</html>