<!doctype html>
<div class="header">
   <a href="http://www.notfortourists.com"><img src="/images/snobbw.jpg" alt="Not For Tourists" /></a>
    <span style="position: absolute; top:5px; right:15px;">
      <br>
    <ul class="nav nav-pills pull-right">
      <li class=""><a ng-href="#/main">HOME</a></li>
    <li><a ng-href="#">HISTORY</a></li>
    <!-- <li><a ng-href="#/beaches">BEACHES</a></li> -->
    <li><a ng-href="#/lowcountryislands">LOW COUNTRY ISLANDS</a></li>
    <!-- <li><a ng-href="#/localshangout">FEELIN' LOCAL</a></li> -->
    <li><a ng-href="#/edisto">HEAVEN ON EARTH</a></li>
    <li><a ng-href="#/blog">LOCALS TALK</a></li>
    </ul>
  
</div>
<body>

 <h1>Charleston History</h1>
  <p class="lead">
    <img src="images/slavemarketcolor.jpg" alt="Charleston"><br>
  </p>
<p class="lead">
    <img src="images/grassbaskets.jpg" alt="Charleston"><br>
  </p>

</body>
</html>
<div class="footer">
  <p><a href="http://kat5sc.com"><span class="glyphicon glyphicon-eye-open"></span> THEKACKIEPROJECT</a></p>
</div>