<!doctype html>
<div class="header">
   <a href="http://www.notfortourists.com"><img src="/images/snobbw.jpg" alt="Not For Tourists" /></a>
    <span style="position: absolute; top:5px; right:15px;">
      <br>
  	<ul class="nav nav-pills pull-right">
    	<li class=""><a ng-href="#/main">HOME</a></li>
      <li><a ng-href="#/historicalsites">HISTORY</a></li>
      <!-- <li><a ng-href="#/beaches">BEACHES</a></li> -->
      <li><a ng-href="#/lowcountryislands">LOW COUNTRY ISLANDS</a></li>
      <!-- <li><a ng-href="#">FEELIN' LOCAL</a></li> -->
      <li><a ng-href="#/edisto">HEAVEN ON EARTH</a></li>
      <li><a ng-href="#/blog">LOCALS TALK</a></li>
  	</ul>
</div>

<br>
GIVE ME SOME SPACE
</br>

<img src="images/angeloak.jpg" class="img-responsive" alt="Responsive image">

<body>


</body>
</html>
<div class="footer">
  <p><a href="http://kat5sc.com"><span class="glyphicon glyphicon-eye-open"></span> THEKACKIEPROJECT</a></p>
</div>