<!doctype html>
<div class="header">
   <a href="http://www.notfortourists.com"><img src="/images/snobbw.jpg" alt="Not For Tourists" /></a>
    <span style="position: absolute; top:5px; right:15px;">
      <br>
  <ul class="nav nav-pills pull-right">
    <li class=""><a ng-href="#">HOME</a></li>
    <li><a ng-href="#/history">HISTORY</a></li>
    <!-- <li><a ng-href="#/beaches">BEACHES</a></li> -->
    <li><a ng-href="#/lowcountryislands">LOW COUNTRY ISLANDS</a></li>
    <!-- <li><a ng-href="#/localshangout">FEELIN' LOCAL</a></li> -->
    <li><a ng-href="#/edisto">HEAVEN ON EARTH</a></li>
    <li><a ng-href="#/blog">LOCALS TALK</a></li>
  </ul>

</div>

<div class="jumbotron">
  <h1>Welcome to the Low Country</h1>
  <p class="lead">
    <img src="images/charlesongatebw.jpg" alt="Charleston"><br>
    The Charleston Life
  </p>
  <p><a class="btn btn-lg btn-default" ng-href="#">Explore Charleston</a></p>
</div>





  <h3 class="text-muted">NFT - CHARLESTON</h3><a ng-href="#/main"></a>
</div>

<div class="row marketing">
  <h4>CHARLESTON NEED TO KNOW</h4>
  <!-- <div ng-controller="EssentialsCtrl"> -->
    <button ng-click="ATMs()">
      <p><a href="https://www.google.com/maps/search/charleston+atms/@32.8210454,-79.9704779,11z/data=!4m5!2m4!3m3!1satms!2sCharleston,+SC!3s0x88fe7a42dca82477:0x35faf7e0aee1ec6b"><span class="glyphicon glyphicon-eye-open"></span> </a></p>ATMs</button>

    <button ng-click="GroceryStore()"><p><a href="https://www.google.com/maps/search/charleston+grocery+stores/@32.8210454,-79.9704779,10z/data=!3m1!4b1!4m5!2m4!3m3!1scharleston+grocery+stores!2sCharleston,+SC!3s0x88fe7a42dca82477:0x35faf7e0aee1ec6b"><span class="glyphicon glyphicon-eye-open"></span> </a></p>Grocery Stores</button>
    
    <button ng-click="Hospitals()"><p><a href="https://www.google.com/maps/search/charleston+hospitals/@32.8210454,-79.9704779,10z/data=!3m1!4b1!4m5!2m4!3m3!1scharleston+hospitals!2sCharleston,+SC!3s0x88fe7a42dca82477:0x35faf7e0aee1ec6b"><span class="glyphicon glyphicon-eye-open"></span> </a></p>Hospitals</button>

    <button ng-click="Parksandplaces()"><p><a href="https://www.google.com/maps/place/Charleston+Parks+Department/@32.8210454,-79.9704779,11z/data=!4m9!1m6!2m5!1scharleston+parks!3m3!1scharleston+parks!2sCharleston,+SC!3s0x88fe7a42dca82477:0x35faf7e0aee1ec6b!3m1!1s0x88fe7af7abfd88b5:0x9e8cc0b3c8f55aea"><span class="glyphicon glyphicon-eye-open"></span> </a>
    </p>Parks</button>
    
    <button ng-click="Transportation()"><p><a href="https://www.google.com/maps/search/charleston+transportation/@32.8210454,-79.9704779,10z/data=!3m1!4b1!4m5!2m4!3m3!1scharleston+transportation!2sCharleston,+SC!3s0x88fe7a42dca82477:0x35faf7e0aee1ec6b"><span class="glyphicon glyphicon-eye-open"></span> </a></p>Transportation</button>

    <button ng-click="TrafficBikePaths()"><p><a href="https://www.google.com/maps/@32.7845405,-79.9557151,13z/data=!5m1!1e1"><span class="glyphicon glyphicon-eye-open"></span> </a></p>Schools</button>
    
</div>
<br></br>
  
</div>
</body>

<div class="footer">
  <p><a href="http://kat5sc.com"><span class="glyphicon glyphicon-eye-open"></span> THEKACKIEPROJECT</a></p>
</div>
