<div class="header">
  <img src="images/nft_logo_onblack.png" alt="LIFE IN CHARLESTON"><br>
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#/about">About</a></li>
    <li><a ng-href="#/contact">Contact</a></li>
    <li ng-cloak ng-show-auth="login" ng-controller="LoginController"><a href="#/login" ng-click="logout()">Log Out</a></li>
    <li ng-cloak ng-show-auth="['logout','error']"><a href="#/login">Log In</a></li>
  </ul>
  <h3 class="text-muted">CHARLESTON</h3>
</div>

<div class="jumbotron">
  <h3>Everything you need to know about Charleston - Without All the 'Pretense'</h3>
  <p class="lead">
    <img src="images/lifeviewfinder.jpg" alt="LIFE IN CHARLESTON"><br>
    
  </p>
  <p><a class="btn btn-lg btn-default" ng-href="#/login">Let Me Be Your Guide<span class="glyphicon glyphicon-eye-open"></span></a></p>
  <img src="images/ownwhoyouare.jpg" alt="LIFE IN CHARLESTON"><br>
</div>

<div class="row marketing">
  <h4>CHARLESTON NEED TO KNOW</h4>
  <p>
    You've Arrived!  Now What?
  </p>

  <h4>I'm NOT A TOURIST</h4>
  <p>
    I've been here before, but I'm NOT A TOURIST - Give me the Locals' Scoop
  </p>

  <h4>HOSTING TOURISTS</h4>
  <p>QUICK - Give me Some Info!</p>
</div>

<div class="footer">
  <p><span class="glyphicon glyphicon-eye-open"></span>THEKACKIEPROJECT - NFT - CHARLESTON</p>
</div>
