<!doctype html>
  <div class="header">
   <a href="http://www.notfortourists.com"><img src="/images/nft_logo_onblack.png" alt="Not For Tourists" /></a>
    <span style="position: absolute; top:5px; right:9px;">
      <br>
  <ul class="nav nav-pills pull-right">
    <li class=""><a ng-href="#">Home</a></li>
    <li><a ng-href="#/about">About</a></li>
    <li><a ng-href="#/maps">Maps</a></li>
    <li><a ng-href="#/weather">Weather</a></li>
    <li><a ng-href="#/contact">Out and About</a></li>
    <li ng-cloak ng-show-auth="login" ng-controller="LoginController"><a href="#/login" ng-click="logout()"></a></li>
    <li ng-cloak ng-show-auth="['logout','error']"><a href="#/login">Log In</a></li>
  </ul>
  <h3 class="text-muted">NFT - CHARLESTON</h3><a ng-href="#"></a>
</div>
<div class="jumbotron">

  <h3>The Ultimate Charleston Neighborhood Guide for YOU, not them.</h3>
  <!--  -->
  <br>
  THEKACKIEPROJECT
  </br>
  <p class="lead">
    <img src="images/iwantadamnwinelist.jpg" alt="LIFE IN CHARLESTON"><br></p>


  <p><a href="http://purl.org/rss/1.0/modules/content/" rel="self" type="application/rss+xml">Let Me Be Your Guide<span class="glyphicon glyphicon-eye-open"></span></a></p>
  </div>

<div class="row marketing">
  <h4>CHARLESTON NEED TO KNOW</h4>
  <div ng-controller="EssentialsCtrl">
    <button ng-click="ATMs()">
      <p><a href="https://www.google.com/maps/search/charleston+atms/@32.8210454,-79.9704779,11z/data=!4m5!2m4!3m3!1satms!2sCharleston,+SC!3s0x88fe7a42dca82477:0x35faf7e0aee1ec6b"><span class="glyphicon glyphicon-eye-open"></span> </a></p>ATMs</button>
    <button ng-click="GroceryStore()"><p><a href="https://www.google.com/maps/search/charleston+grocery+stores/@32.8210454,-79.9704779,10z/data=!3m1!4b1!4m5!2m4!3m3!1scharleston+grocery+stores!2sCharleston,+SC!3s0x88fe7a42dca82477:0x35faf7e0aee1ec6b"><span class="glyphicon glyphicon-eye-open"></span> </a></p>Grocery Stores</button>
    <button ng-click="HardwareStore()"><p><a href="https://www.google.com/maps/search/charleston+atms/@32.8210454,-79.9704779,11z/data=!4m5!2m4!3m3!1satms!2sCharleston,+SC!3s0x88fe7a42dca82477:0x35faf7e0aee1ec6b"><span class="glyphicon glyphicon-eye-open"></span> </a></p>Hardware Store</button>
    <button ng-click="Hospitals()"><p><a href="https://www.google.com/maps/search/charleston+hospitals/@32.8210454,-79.9704779,10z/data=!3m1!4b1!4m5!2m4!3m3!1scharleston+hospitals!2sCharleston,+SC!3s0x88fe7a42dca82477:0x35faf7e0aee1ec6b"><span class="glyphicon glyphicon-eye-open"></span> </a></p>Hospitals</button>
    <button ng-click="Transportation()"><p><a href="https://www.google.com/maps/search/charleston+atms/@32.8210454,-79.9704779,11z/data=!4m5!2m4!3m3!1satms!2sCharleston,+SC!3s0x88fe7a42dca82477:0x35faf7e0aee1ec6b"><span class="glyphicon glyphicon-eye-open"></span> </a></p>Transportation</button>
    <button ng-click="Schools()"><p><a href="https://www.google.com/maps/search/charleston+atms/@32.8210454,-79.9704779,11z/data=!4m5!2m4!3m3!1satms!2sCharleston,+SC!3s0x88fe7a42dca82477:0x35faf7e0aee1ec6b"><span class="glyphicon glyphicon-eye-open"></span> </a></p>Schools</button>
    
</div>
<br></br>
  <h4>I'm NOT A TOURIST</h4>
    <h5>I feel like a 'local' - Give me the Locals Scoop!</h5>
<br></br>
  <h4>HOSTING TOURISTS</h4>
  <h5>QUICK - Give Me a Plan!</h5>
</div>
</body>

<div class="footer">
  <p><a href="http://kat5sc.com"><span class="glyphicon glyphicon-eye-open"></span> THEKACKIEPROJECT</a></p>
</div>
